apiVersion: apps/v1
kind: Deployment
metadata:
  name: release-sentinel-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: release-sentinel
  template:
    metadata:
      labels:
        app: release-sentinel
    spec:
      containers:
      - name: release-sentinel
        image: releasesentinel:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8080

        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20